body {
    font-family: Arial;
    background-color: #e6ecf2;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #003366;
}
h1 {
    color: #003366;
}

input {
    display: block;
    margin: 5px auto;
    padding: 5px;
    width: 200px;
}

button {
    display: block;
    margin: 10px auto;
    background-color: #003366;
    color: white;
    border: none;
    padding: 5px 10px;
}

ul {
    background-color: #ffffff;
    padding: 10px;
    width: 400px;
    margin: 10px auto;
}
